version: "3"

services:
  contractor-server:
    container_name: "contractor-server"
    image: pefpi/contractor-server
    restart: always
    tty: true
    ports:
      - 3002:8080
    expose:
      - 3002
    environment:
      - NODE_ENV=${NODE_ENV}
      - DATABASE_USERNAME=${DATABASE_USERNAME}
      - DATABASE_PASS=${DATABASE_PASS}
      - DATABASE_HOST=${DATABASE_HOST}
      - DATABASE_DATA=${DATABASE_DATA}

  contractor-client:
    container_name: "contractor-client"
    image: pefpi/contractor-client
    volumes:
      - UI:/app/build

  contractor-web:
    container_name: "contractor-web"
    image: nginx
    depends_on:
      - contractor-client
    ports:
      - 80:80
    restart: unless-stopped
    volumes:
      - UI:/usr/share/nginx/html:ro
      - ./nginx.conf:/etc/nginx/conf.d/default.conf

networks:
  default:

volumes:
  UI:
    external:
      name: UI
